.env
.env.*

node_modules
**/node_modules

dist
**/dist
build
**/build

logs
**/logs
*.log
npm-debug.log
yarn-error.log

backups
backups/
backup_*
dumps
dumps/

*.sql
*.sql.gz
*.psql
*.dump
*.bak
*.backup
conecta_db.conf

.git
.git-local
.gitignore

coverage
**/coverage
.DS_Store
